<div id="verbiageBg"></div>
<div id="verbiage">
    <div ng-if="user_type != 'professional'" class="container">
        <h3 class="ef-header">the everfit fanatic</h3>

        <p>"The EverFit Fanatic/User is all about sharing good health and wellness to the world! Share your passion, best practices, and encourage others along the way. Be a positive light, always uplifting to your peers, and above all, train with integrity!  Help EverFit build a brand focused on "Striving For Excellence!"</p>

        <h1>Rack &amp; Stack Rewards Program... what is it? </h1>
        <ol style="font-size: 14px;line-height:25px;">
            <li>
                At EverFit™, it wasn't enough for us to just have a cool site, we think some Customer Loyalty Rewards are in order! EverFit will stack "lbs" on your dumbbells as you make purchases on the network,  just like how many credit cards offer rewards for using their card... same difference!  Keep stacking the pounds and use them as store credit towards any of the EverFit offerings.
            </li>
            <li>
                Affiliate program: As an EverFit Fanatic, you automatically get points/pounds from your own purchases, which is awesome, but in addition to that,  you can earn additional rewards simply by "sharing" EverFit VIA your EverFit "Share Link" found in your settings. Yep! Free stuff for sharing Good Health & Wellness! You can email, text, post to social media, and pretty much use your link in any electronic means of distribution.
            </li>
        </ol>
        <p>If you're not a rewards kind of person, don't sweat it! We'll make sure the word gets out! Live EverFit!</p>
        <br>
        <br>

        <div class="jumbotron">
            <h2 class="ever-blue">Email Sharing</h2>
                    <span class="thumbnail">
                        <img src="verbiage/img/share.png"/>
                    </span>

            <p class="ever-blue">Go to <a ui-sref="settings">settings</a>. <br><br>
                Copy and Paste into email or text!</p>
            <br><br>

            <h2 class="ever-blue">Post to Social Media Accounts</h2>
                    <span class="thumbnail">
                        <img src="verbiage/img/affiliate.png"/>
                    </span>

            <p class="ever-blue">Click on the affiliate button on your status bar and select the social media
                account you would like to post to!</p>
        </div>

    </div>
    <div ng-if="user_type == 'professional'" class="container">
        <h3 class="ef-header">the everfit professional</h3>

        <h3>The EverFit Professional</h3>
        <p>"The EverFit Professional is all about sharing good health and wellness to the world!  Share your passion, best practices, and encourage others along the way. Be a positive light, always uplifting to your peers, and above all, train with integrity! Best business and customer service practices are expected from all on the site. Help EverFit build a brand focused on "Striving For Excellence!"</p>

        <h3>Earn Some Extra Cash?</h3>
        <p>As an EverFit Professional, you not only get to be a "Beacon of Health &amp; Wellness", but you can make a little cash for referring others to the site via your Affiliate/Referral Link located in your SETTINGS area. Simply post your link where ever you best see fit! (e.g. social media accounts, email, text, Status Update or any other electronic means of distribution) Once someone clicks your link and creates a free account, they're mated to you for life as a referral! Now, when your referral/client buys anything on the EverFit Network, you generate a 5% referral/client commission just like that! We square-up with you at the end of every month once commissions are equal to, or more than $15. Should your commissions be less than $15, your commissions will Roll-Over to the next month, and will repeat this process until the $15 is reached. Upon reaching $15, EverFit will then conveniently ACH Transfer your earnings to your account the next monthly pay period!</p>

        <p>Help inspire and create a more health conscious society with us! While generating some additional revenue for yourself... it's a win win! "</p>

        <p>You can turn ON or OFF your online Training "Light" on your profile at any time inside of your Settings.</p>

        <h3>Live EverFit!</h3>
        <p>If you have any questions/comments/feedback, please do not hesitate to contact us at customerserivce@liveeverfit.com , or via the <a ui-sref="contact">Contact Us</a> page."</p>
    </div>
</div>