<div class="modal-header">
        <h3 class="modal-title">Change Password</h3>
    </div>
<alert ng-repeat="(error, msg) in message" type="success" close="closeAlert(error)">{{msg[0]}}</alert>
    <div class="modal-body">
        <div class="form-group editable-name"><label>Old Password: </label><input ng-model='user.current_password' type="password" name="current_password" class="input-small form-control"></div>
        <div class="form-group editable-name"><label>New Password: </label><input ng-model='user.password' type="password" name="password1" class="input-small form-control"></div>
        <div class="form-group editable-name"><label>Confirm New Password: </label><input ng-model='user.password2' type="password" name="password2" class="input-small form-control"></div>
    </div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">change</button>
    <button class="btn btn-danger" ng-click="cancel()">cancel</button>
</div>